[Unit]
Description=irqbalance daemon
After=syslog.target

[Service]
ExecStartPre=mkdir -p /run/irqbalance
Environment="IRQBALANCE_BANNED_CPULIST=@RT_CORE_LIST@"
ExecStart=@SBINDIR@/irqbalance --foreground

[Install]
WantedBy=multi-user.target
