[Unit]
Description=irqbalance daemon
After=syslog.target

[Service]
EnvironmentFile=/etc/irqbalance.env
ExecStartPre=mkdir -p /run/irqbalance
ExecStartPre=/usr/libexec/set_irq_max_core.sh
ExecStart=/usr/sbin/irqbalance --foreground

[Install]
WantedBy=multi-user.target
