[Unit]
Description=irqbalance daemon
After=syslog.target

[Service]
Environment="IRQBALANCE_BANNED_CPULIST=@RT_CORE_LIST@"
ExecStart=/usr/sbin/irqbalance --foreground

[Install]
WantedBy=multi-user.target
