# Copyright (C) 2020, RTE (http://www.rte-france.com)
# SPDX-License-Identifier: Apache-2.0

[Unit]
Description="Configure OVS for Votp"

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=ovs-vsctl --no-wait set Open_vSwitch . other_config:dpdk-init=true

[Install]
WantedBy=multi-user.target
