# Copyright (C) 2020, RTE (http://www.rte-france.com)

[Unit]
Description="Load keys for Votp"

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=loadkeys fr

[Install]
WantedBy=multi-user.target
