# Copyright (C) 2021, RTE (http://www.rte-france.com)
# Copyright (C) 2023 Savoir-faire Linux, Inc.
# SPDX-License-Identifier: Apache-2.0

[Unit]
Description="Daemon to connect to Hawkbit server"
After=swupdate_check.service

[Service]
Type=simple
ExecStart=swupdate_hawkbit.sh
EnvironmentFile=/etc/sysconfig/swupdate_hawkbit.conf
StandardOutput=journal
Environment="LC_ALL=en_US.UTF-8"

[Install]
WantedBy=boot-complete.target
