# Copyright (C) 2023 Savoir-faire Linux, Inc.
# SPDX-License-Identifier: Apache-2.0

[Unit]
Description=Configure the CPU partitioning for RT in the sysfs
Before=libvirtd.service
Before=docker.service

[Service]
Type=oneshot
ExecStart=/usr/sbin/configure-cpu-partitioning.py

[Install]
WantedBy=multi-user.target
