[Unit]
Description=Precision Time Protocol (PTP) service for %I
Documentation=man:ptp4l
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/sbin/ptp4l -q -m -i %I

[Install]
WantedBy=multi-user.target
