# This allows to get the debug symbols of the kernel and know which files have
# been compiled. It has been pulled from
# https://git.yoctoproject.org/yocto-kernel-cache/tree/features/debug/debug-kernel.cfg?h=yocto-6.12
CONFIG_DEBUG_INFO_DWARF_TOOLCHAIN_DEFAULT=y
CONFIG_DEBUG_INFO=y
