root:*:0:
daemon:*:1:
adm:*:4:
tty:*:5:
disk:*:6:
mail:*:8:
tape:*:26:
sudo:*:27:
dip:*:30:
operator:*:37:
src:*:40:
shadow:*:42:
utmp:*:43:
video:*:44:
sasl:*:45:
plugdev:*:46:
staff:*:50:
shutdown:*:61
users:*:100:
nogroup:*:65534:
