# Copyright (C) 2020, RTE (http://www.rte-france.com)
# SPDX-License-Identifier: Apache-2.0

[Unit]
Description="Load keys for Votp"

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=loadkeys us

[Install]
WantedBy=multi-user.target
