# Based on Open vSwitch source:
# https://github.com/openvswitch/ovs/blob/94e1e8be3187a4824ac27ed843396dde5cc02d13/rhel/usr_lib_systemd_system_ovs-vswitchd.service.in
# Copyright (C) 2021, RTE (http://www.rte-france.com)
# Copyright (C) 2024 Savoir-faire Linux, Inc.
# SPDX-License-Identifier: Apache-2.0

[Unit]
Description=Open vSwitch Forwarding Unit
After=ovsdb-server.service network-pre.target systemd-udev-settle.service set-hugepages-permissions.service
Before=network.target network.service
Requires=ovsdb-server.service set-hugepages-permissions.service
ReloadPropagatedFrom=ovsdb-server.service
AssertPathIsReadWrite=/run/openvswitch/db.sock
PartOf=openvswitch.service

[Service]
Type=simple
User=openvswitch
Restart=on-failure
TimeoutSec=300
Environment=XDG_RUNTIME_DIR=/run/openvswitch
LimitSTACK=2M
ExecStartPre=+/usr/libexec/configure_vm_sockets.sh
ExecStart=ovs-vswitchd \
    unix:/run/openvswitch/db.sock \
    --mlockall \
    --no-chdir \
    --log-file=/dev/null \
    --syslog-method=libc
Nice=-10


# Sandboxing
PrivateTmp=yes
NoNewPrivileges=true
ProtectSystem=strict
ReadWritePaths=/run/openvswitch
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectControlGroups=yes
RestrictSUIDSGID=true
RestrictNamespaces=pid user cgroup
# CAP_IPC_LOCK is required for mlockall calls
AmbientCapabilities=CAP_NET_BROADCAST CAP_NET_RAW CAP_NET_ADMIN CAP_IPC_LOCK
CapabilityBoundingSet=CAP_NET_BROADCAST CAP_NET_RAW CAP_NET_ADMIN CAP_IPC_LOCK
# Access to devices is required for DPDK in some conf
# PrivateDevices=yes
ProtectKernelLogs=true
SystemCallFilter=~@aio @chown @clock @cpu-emulation @debug @keyring @module @mount @obsolete @reboot @setuid @swap
