[Unit]
Description=Open vSwitch Forwarding Unit
After=ovsdb-server.service network-pre.target systemd-udev-settle.service
Before=network.target network.service
Requires=ovsdb-server.service
ReloadPropagatedFrom=ovsdb-server.service
AssertPathIsReadWrite=/var/run/openvswitch/db.sock
PartOf=openvswitch.service

[Service]
Type=forking
PIDFile=/var/run/openvswitch/ovs-vswitchd.pid
Restart=on-failure
Environment="OVS_USER_OPT=--db-file=/var/lib/openvswitch/conf.db"
Environment=XDG_RUNTIME_DIR=/var/run/openvswitch
EnvironmentFile=/etc/openvswitch/default.conf
EnvironmentFile=-/etc/sysconfig/openvswitch
EnvironmentFile=-/run/openvswitch.useropts
LimitSTACK=2M
ExecStartPre=-/bin/sh -c '/bin/chown :$${OVS_USER_ID##*:} /dev/hugepages'
ExecStartPre=-/bin/chmod 0775 /dev/hugepages
ExecStartPre=-/bin/mkdir /var/run/openvswitch/vm-sockets
ExecStartPre=+/bin/chown -R qemu /var/run/openvswitch/vm-sockets
ExecStartPre=+/bin/chmod g+ws /var/run/openvswitch/vm-sockets
ExecStart=/usr/share/openvswitch/scripts/ovs-ctl \
          --no-ovsdb-server --no-monitor --system-id=random \
          ${OVS_USER_OPT} \
          start $OPTIONS
ExecStop=/usr/share/openvswitch/scripts/ovs-ctl --no-ovsdb-server stop
ExecReload=/usr/share/openvswitch/scripts/ovs-ctl --no-ovsdb-server \
          --no-monitor --system-id=random \
          ${OVS_USER_OPT} \
          restart $OPTIONS
TimeoutSec=300

# Sandboxing
PrivateTmp=yes
NoNewPrivileges=true
ProtectSystem=strict
ReadWritePaths=/run /var/run/openvswitch /var/log/openvswitch
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectControlGroups=yes
RestrictSUIDGID=true
RestrictNamespaces=pid user cgroup
# CAP_IPC_LOCK is required for mlockall calls
CapabilityBoundingSet=CAP_SYS_NICE CAP_NET_ADMIN CAP_IPC_LOCK
# Access to devices is required for DPDK in some conf
# PrivateDevices=yes
