# Based on Open vSwitch source:
# https://github.com/openvswitch/ovs/blob/94e1e8be3187a4824ac27ed843396dde5cc02d13/rhel/usr_lib_systemd_system_ovsdb-server.service
# Copyright (C) 2021, RTE (http://www.rte-france.com)
# SPDX-License-Identifier: Apache-2.0

[Unit]
Description=Open vSwitch Database Unit
After=create-openvswitch-log-dir.service syslog.target network-pre.target
Before=network.target network.service
Wants=create-openvswitch-log-dir.service ovs-delete-transient-ports.service
PartOf=openvswitch.service

[Service]
Type=forking
PIDFile=/run/openvswitch/ovsdb-server.pid
User=openvswitch
Group=openvswitch
Restart=on-failure
Environment="OVS_USER_OPT=--db-file=/var/lib/openvswitch/conf.db"
EnvironmentFile=/etc/openvswitch/default.conf
EnvironmentFile=-/etc/sysconfig/openvswitch
ExecStartPre=/bin/sh -c 'rm -f /run/openvswitch/openvswitch.useropts; /bin/echo "OVS_USER_ID=${OVS_USER_ID}" > /run/openvswitch/openvswitch.useropts'
ExecStartPre=/bin/sh -c 'if [ "$${OVS_USER_ID/:*/}" != "root" ]; then /bin/echo "OVS_USER_OPT=--ovs-user=${OVS_USER_ID}" >> /run/openvswitch/openvswitch.useropts; fi'
# EnvironmentFile=-/run/openvswitch.useropts
ExecStart=/usr/share/openvswitch/scripts/ovs-ctl \
          --no-ovs-vswitchd --no-monitor --system-id=random \
          ${OVS_USER_OPT} \
          start $OPTIONS
ExecStop=/usr/share/openvswitch/scripts/ovs-ctl --no-ovs-vswitchd stop
ExecReload=/usr/share/openvswitch/scripts/ovs-ctl --no-ovs-vswitchd \
           ${OVS_USER_OPT} \
           --no-monitor restart $OPTIONS

# Sandboxing
PrivateTmp=yes
NoNewPrivileges=true
ProtectSystem=strict
ReadWritePaths=/run/openvswitch /var/log/openvswitch /var/lib/openvswitch
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectControlGroups=yes
RestrictSUIDSGID=true
RestrictNamespaces=pid user cgroup
AmbientCapabilities=CAP_SYS_NICE
CapabilityBoundingSet=CAP_SYS_NICE CAP_NET_BIND_SERVICE CAP_IPC_LOCK
PrivateDevices=yes
ProtectKernelLogs=true
SystemCallFilter=~@obsolete @swap @aio @clock @cpu-emulation @keyring @memlock @module @mount @reboot @setuid @timer
