[Unit]
Description=System Logger Daemon "%i" instance
Documentation=man:syslog-ng(8)
Conflicts=emergency.service emergency.target
After=create-syslog-ng-log-dir.service
Wants=create-syslog-ng-log-dir.service

[Service]
Type=notify
EnvironmentFile=-/etc/default/syslog-ng@%i
EnvironmentFile=-/etc/sysconfig/syslog-ng@%i
ExecStartPre=-/bin/mkdir -p /var/run/syslog-ng
WorkingDirectory=/var/log/syslog-ng
ExecStart=/usr/sbin/syslog-ng -F $OTHER_OPTIONS --cfgfile $CONFIG_FILE --control $CONTROL_FILE --persist-file $PERSIST_FILE --pidfile $PID_FILE
ExecReload=/bin/kill -HUP $MAINPID
StandardOutput=journal
StandardError=journal
Restart=on-failure

PrivateTmp=yes
ProtectSystem=strict
ReadWritePaths=/run/syslog-ng /var/log/syslog-ng /var/lib/syslog-ng
ProtectHome=tmpfs
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectControlGroups=yes
NoNewPrivileges=true
RestrictNamespaces=pid
MemoryDenyWriteExecute=yes
PrivateDevices=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
PrivateMounts=yes
CapabilityBoundingSet=CAP_SYSLOG

[Install]
WantedBy=multi-user.target
